*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: white;
    background-image: url("../images/background_image.svg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
header{
    
    width: 100%;
    margin: 0 auto;
    margin-top: 52px;
    min-height: 727px;
}
.container{
    height: 100%;
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.header_text{
    
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between  ;
    -webkit-justify-content: space-between;
}
.nav_list
{
    max-width: 1520px;
    width: 100%;
    align-content: center;
}
.nav{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    height: 79px;
    width: 100%;
    margin-bottom: 153px;
}
.nav_list ul{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: center;
    align-content: center;

}
ul  a
{
    text-decoration: none;
    color: white;
}
.nav_list li{
    list-style-type: none;
    font-size: 24px;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 64px;
    text-align: center;
    height: 162px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 102px;
}
p{
    font-size: 40px;
    max-width: 646px;
}
.header_info{
    display: -webkit-flex;
    display: flex;
}
.block{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;

}
.first_section{
    min-height: 1015px ;
}
.block_facts{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    
}
.block_facts li{
    font-size: 40px;
    margin-bottom: 50px;
}
.block_facts ul{
    width: 1396px;
}
.second_section{
    min-height: 989px;
}
.third_section{
    min-height: 989px;
}
.another_img{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    
}
.anth_image{
    border: solid 2px white;
    margin: 0 85px;
}
.next_button{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.prev_button, 
.next_button, 
a{
    cursor: pointer;
}
footer p{
    font-size: 16px ;
    line-height: 31px;
    
}
footer a{
    text-decoration: none;
    color: white;
    
}
footer{
    background-color: black;
    min-height: 292px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center ;
}
.first_footer_block{
    max-width: 264px;
    margin-left: 403px;
    

}
.second_footer_block{
    max-width: 264px;
    margin-left: 20px;
}
.ham{
    position: absolute;
    visibility: hidden;
}




@media (max-width: 980px) {
    .container{
        max-width: 740px;
    }
    
    h1{
        font-size: 72px;
    }
    h2{
        font-size: 48px;
        text-align: left;
    }
    .header_image img{
        max-width: 400px;
        
    }
    .header_image{
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items:center;
    }
    .ham {
        visibility: visible;
        position: fixed;
        z-index: 100;
        top: 52px;
        right: 120px;
        width: 79px;
        height: 79px;
        border-radius: 40px;
        border: black solid 1px;
        background: white;
        cursor: pointer;
      }
      
      .xIcon {
        display: none;
      }
      
      .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: black;
        color: white;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: transform 0.2s;
        transition: transform 0.2s;
        list-style: none;
        padding-top: 4rem;
        z-index: 99;
      }
      
      .nav_list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .showMenu { 
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      
      li {
        padding: 1rem 0;
      }
      
      .menuLink {
        display: inline;
        display: -webkit-inline;
        font-size: 2rem;
        color: white;
        text-decoration: none;
      }
      
      .menuLink:hover {
        text-decoration: underline;
      }
      p, .block_facts li{
        font-size: 24px;
      }
      .block img{
        max-width: 300px;
      }
      .block p{
        max-width:379px ;
      }
      .anth_image{
        margin: 0 20px;
        max-width: 500px;
        width: 100%;
      }
      .anth_image img{
        max-width: 496px;
      }
      .first_footer_block{
        margin-left: 120px;
      }

}


@media (max-width: 395px){
    .container{
        max-width: 315px;
    }
    
    .header_image img{
        max-width: 315px;
        height: max-content;
    }
    
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
        text-align: center;
        margin-bottom: 50px ;
    }
    .block img{
        max-width: 200px;
        margin-bottom: 20px;
      }
    .block{
        display: flex;
        flex-direction: column;
      }
      .anth_image{
        margin: 0 7px;
        max-width: 251px;
        width: 100%;
      }
      .anth_image img{
        max-width: 248px;
      }
      
      .prev_button img, .next_button img{
        width: 25px;
        height: 25px;   
      }
      .ham {
        visibility: visible;
        position: fixed;
        z-index: 100;
        top: 52px;
        right: 40px;
        width: 79px;
        height: 79px;
        border-radius: 40px;
        border: black solid 1px;
        background: white;
        cursor: pointer;
      }
      .header_info{
        display: flex;
        flex-direction: column;
      }
      .first_section{
        min-height: 600px;
      }
      .second_section{
        min-height: 626px;
      }
      .third_section{
        min-height: 420px;
      }
      p, .block_facts li{
        font-size: 16px;
        text-align: justify;
      }
      footer p{
        font-size: 10px;
        line-height: 25px;
      }
      .first_footer_block{
        margin-left: 40px;
      }
}